.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 150px;
    background-color: black;
    padding-left: 175px;
    padding-right: 175px;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer__info-section{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.info-section__column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.contacts-column{
    max-width: 250px;
}

.column-title{
    font-weight: 600;
    text-transform: uppercase;
}

.column-pic{
    
    object-fit: contain;

}

.column-item{
    display: flex;
    gap: 20px;
}

.column-link{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.our-rules-link{
    color: orange;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.email-set{
    position: relative;
}

.email-input{
    background-color: rgb(38, 38, 38);
    color: gainsboro;
    border: 2px white solid;
    font-size: 0.9em;
    padding: 20px;
    cursor: pointer;
    font-family: 'Montserrat';
    min-width: 300px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 4px;
}

.email-input-but{
    right: 0;
    top: 0;
    position: absolute;
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.email-but{
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
}

.newsletter-agreement-set{
    display: flex;
    gap: 15px;
}

.newsletter-checkbox{
    background-color: black;
    color: gray;
    background: black;
}

.newsletter-agreement-text{

}

.line{
    margin-top: 25px;
    background-color: gainsboro;
    height: 1px;
    width: 100%;
}

.footer-copyright-info{
    color: gainsboro;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.footer-copyright-item{
    flex-basis: 65%;
}

.footer-copyright-item-right{
    flex-basis: 35%;
    text-align: right;
}