.circle {
  border-radius: 50%;
  background-color: aquamarine;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.line {
  height: 8px;
  width: 300px;
  background-color: black;
  position: relative;
  margin: 50px;
}