.tabs-wrapper {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 30px;
    padding: 30px;
}

.tabs-header {
    display: flex;
}

.tab-item {
    font-size: 20px;
    color: rgba(20, 20, 20, 0.5);
    margin: 0 60px 0 0;
    cursor: pointer;
}

.active {
    color: #141414;
    font-weight: bold;
}

.tabs-content {
    font-size: 18px;
    line-height: 27px;
    color: #141414;
    margin-top: 15px;
}